
.page_banner {
    width: 100%;
    height: 800px;
}  
.swiper-img{
    width: 100%;
    height: 800px;
}
 

.title_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.title_box img{
    width: 82px;
    height: 30px;
    margin: 0 40px;
}

 
.swiper-pagination{
    width: 100%;
    top: 95% !important;
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet{
    margin: 0 3px !important;
    background-color: #fff !important;
}

.sale_box{
    width: 100%;
    padding: 70px 0;
    background-color: #101010;
    text-align: center;
}

.sale_title{
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.sale_title img{
   max-width: 740px;
   max-height: 60px;
}
.sale_cars_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sale_car{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}
.sale_car img{
    width: 100%;
}

.sale_car_name{
    font-size: 18px;
    margin: 70px auto 24px;
}
.sale_car_name span{
    font-size: 18px;
    color: #707070;
}
.sale_car_btn{
    border-radius: 16px;
	border: solid 1px #eeeeee;
    opacity: 0.2;
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}
.hot_sale_car:hover .sale_car_btn{ 
 
    color: #000;
    background-color: #fff;
    opacity:1
}

.hot_sale_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 66px 40px;
}
.hot_sale_car{
    background-color: #000000;
    border: solid 1px #202020;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    box-sizing: border-box;
}

.hot_sale_car:hover{
    border: solid 1px #fff;

}
.hot_sale_car img{
    height: 320px;
    width: 100%;
    border-bottom: solid 1px #202020;

}

.hot_sale_car:hover img{
    border-bottom: solid 1px #fff;

}

.hot_sale_btn{
    margin: 0 0;
    transform: translateY(-50%);
    background-color: #000000;
 cursor: pointer;
	border: solid 1px #eeeeee;
	opacity: 0.8;
}

.hot_sale_car_name{
    margin: 0 0 12px;
    font-size: 18px;

}
.hot_sale_price{
    color: #767676;
    font-size: 14px;
    margin: 0 0 22px;
}

.see_more_btn{
    width: 125px;
	height: 46px;
	background-color: #000000;
	border-radius: 23px;
	border: solid 1px #202020;
   cursor: pointer;
    margin: 0 auto 55px;
    text-align: center;
    line-height: 46px;
    color: #fff;
}

.see_more_btn:hover{
	background-color: #fff;
    color: #000;

}

.padding_box{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 100px;
}
.choose_box{
    width: 24%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    box-sizing: border-box;
    padding: 50px;
    border: solid 6px #202020;
    margin: 0 13px;
}
.choose_box:hover{
    background: url(../img/首页改_35.jpg) no-repeat;
    background-size: 100% 100%;
    border: solid 6px transparent;
  
}
.choose_icon img{
    max-width: 65px;
    max-height: 60px;

}

.resaon_title{
    font-size: 20px;
    margin: 20px 0;
}
.reason_main{
    font-size: 15px;
    line-height: 40px;
}
.reason_index{
    color: #888888;
    opacity: 0.2;
    font-size: 18px;
    margin: 50px 0;
}
.reason_index img{
  max-width: 116px;
  max-height: 42px;
}
.sale_banner{
    width: 100%;
    background: url(../img/首页改_1.jpg) no-repeat;
    background-size: 100% 100%;
 
}
.case_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;

}

.case_info{
    background-color: #333333;
    width: 435px;

}
.case_info img{
    height: 250px;
    width: 100%;
}
.case_title{
    font-size: 18px;
    margin-top: 20px ; 
   position: relative;
    padding-left: 55px;
     box-sizing: border-box;
}
 
.case_title::before{
    width: 1px;
    height: 62px;
    background-color: #fff;
    content: '';
    position: absolute;
    bottom: 0;
    left: 34px;
}

.case_content{
    line-height: 20px;
	letter-spacing: 1px;
    color: #888888;	
    font-size: 14px;
    box-sizing: border-box;
    margin: 30px;
}
 .case_banner  {
   width: 1400px;
 }
.case_banner .swiper-button-next,.case_banner .swiper-button-prev{
color: #535353;
}

.case_info:hover{
    margin-top: -16px;
}

.small_title{
    line-height: 40px;
	letter-spacing: 3px;
    color: #888888;
    font-size: 16px;
    text-align: center;
}

.customer_banner_box{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 90px 200px;
    background: url(../img/首页改_02.jpg) no-repeat;
    background-size: 100% 100%;
}
.customer_box{
    width:1089px;
    height: 320px;
	box-shadow: 3px 4px 26px 0px 
		#000000;
	border-radius: 160px;
	border: solid 2px #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #101010;
}
 
.customer_banner_box .customer_banner{
    box-sizing: border-box;
    padding: 100px 90px;
}
.customer_banner .swiper-button-prev,
.customer_banner .swiper-button-next  {
  background: none;
}
 
.customer_img{
    width: 158px;
    height: 158px;
    border-radius: 50%;
    background-color: #000000;
    border: solid 3px #eeeeee;
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 40px;
}
.customer_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.customer_cpm{
    font-size: 18px;
    margin: 10px 0;
}
.customer_name{
    margin: 20px 0;

}

.customer-button-prev{
    color: transparent !important;
   
}
.customer-button-next{
    color: transparent !important;
}
.customer-button-prev img{
    width: 20px;
    height: 40px;
    transform: rotate(270deg);
}
.customer-button-next img{
    width: 20px;
    height: 40px;
    transform: rotate(90deg);
}
.cri_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #101010;
    padding: 80px 330px;
}
.cri_box{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cri_title{
    height: 220px;
    width: 220px;
    font-size: 64px;
    border: 4px solid #333;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cri_box:hover .cri_title{
    border: 4px solid #fff;

}
.cri_text{
    font-size: 16px;
    margin-top: 18px;
}
.cri_info{
    position: absolute;
    background-color: #101010;
    border-radius: 50%;
    height: 55px;
    width: 220px;
    bottom: 0;
    text-align: center;
    padding-top:50px;
    box-sizing: border-box;
}

.cri_info::after{
    content: '';
    width: 25px;
	height: 1px;
	background-color: #ffffff; 
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

}
.car_icon_list{
    display: flex;
    flex-wrap: wrap; 
    background-color: #101010;
    padding: 80px 330px;
}
.car_icon_box{
  
    width: calc(100% / 7);
    height: 156px;
    background-color: #101010;
    border: solid 1px #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.car_icon_box:hover{
    background-color: #fff;
}
.car_icon_box img{
    max-width: 80%;
}


.form_box{
    width: 100%;
    display: flex;
}
.form_half_box{
    width: 50%;
    height: 589px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
}
.form_half_box img{
    width: 100%;
    height: 100%;
}

.form_ipt{
    width: 452px;
	height: 58px;
	background-color: #101010;
    border: solid 1px #333333;
    text-indent: 20px;
    color: #fff;
}
.ipt_box{
    box-sizing: border-box;
    padding: 130px 170px;

}

.sub_btn{
    width: 452px;
	height: 58px;
	background-color: #333333;
    border: solid 1px #333333;
    font-size: 15px;
    color: #ffffff;
    line-height: 58px;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .case_banner {
    width: 100%;
  }
  .page_banner {
    height: auto;
  }
  .swiper-img {
    height: auto;
  }
  .title_box {
    font-size: 14px;
    line-height: 22px;
  }
  .sale_box {
    padding: 20px 0;
  }
  .sale_cars_box {
    display: inline-block;
  }
  .sale_car {
    width: 100%;
  }
  .sale_title img {
    max-width: 100%;
  }
  .hot_sale_car img {
    height: auto;
  }
  .padding_box {
    padding: 10px;
    display: inline-block;
  }
  .choose_box {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .hot_sale_box {
    padding: 10px;
    display: inline-block;
  }
  .hot_sale_car {
    width: 100%;
  }
  .sale_banner {
    background: none;
  }
  .case_box {
    display: inline-block;
    padding: 0;
  }
  .case_info {
    width: 100%;
    padding-bottom: 1px;
  }
  .customer_banner_box {
    padding: 0;
  }
  .customer_box {
    width: 100%;
    height: auto;
    background: none;
    border: none;
    padding-top: 0;
}
  .customer_banner {
    padding: 0;
  }
  .customer_banner_box .customer_banner {
    padding: 0;
    margin: 20px 0;
  }
  .cri_box {
    width: 100%;
  }
  .car_icon_list {
    display: flex;
  }
  .car_icon_box {
    width: 25%;
    height: 100px;
  }
  .form_box {
    display: inline-block;
  }
  .form_half_box {
    width: 100%;
    height: auto;
  }
  .ipt_box {
    padding: 10px 0;
  }
  .form_ipt {
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
  }
  .sub_btn {
    width: 80%;
    height: 40px;
    line-height: 40px;
  }
  .sale_title {
    width: 80%;
    margin: 20px auto;
  }
  .case_info img {
    height: auto;
  }
  .case_title {
    font-size: 15px;
    margin-top: 10px;
    padding-left: 10px;
  }
  .case_title::before {
    display: none;
  }
  .case_content {
    margin: 10px;
  }
  .small_title {
    line-height: 24px;
    font-size: 12px;
    letter-spacing: 0;
  }
  .customer_banner_box {
    background: none;
  }
  .customer_img {
    width: 80px;
    height: 80px;
    background-color: #000;
    border: none;
    position: static;
    transform: initial;
  }
  .customer_name {
    margin: 10px 0;
  }
  .customer_tell {
    margin: 0 20px;
    line-height: 24px;
    width: 90%;
    font-size: 14px;
  }
  .cri_info {
    padding-top: 20px;
  }
  .cri_info::after {
    display: none;
  }
}

@media screen and (min-width:960px) and (max-width: 1366px) {
    .header_num{
        font-size: 16px;
    }

    .padding_box{
        flex-wrap: wrap;
    }
    .choose_box{
        width: 46%;
        margin: 10px;
    }

    .customer_box{
        width: 100%;
    }
    .customer_tell{
        width: 60%;
    }

    .customer_banner_box{
        padding:60px 100px;
    }
    .cri_main{
        padding: 80px;
    }
    .car_icon_list{
        padding:80px 100px;
    }
    .ipt_box{
        padding: 40px 60px;
    }
    .form_ipt{
        height: 42px;
    }
    .sub_btn{
        height: 42px;
        line-height: 42px;
        width: 300px;
    }
    
}