
.msg_banner{
    width: 100%;
    height: 550px;
}
.msg_banner_title{
    font-family: PingFang-SC-Regular;
	font-size: 64px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 40px;
	letter-spacing: 3px;
	color: #ffffff;
}
 
.msg_banner_title_EN{
    font-family: DIN-Regular;
	font-size: 64px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 40px;
	letter-spacing: 0px;
	color: #ffffff;
    opacity: 0.6;
    
    margin-top: 60px;
}
.tabs_header{
    width: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
}

.tabs_box{
    width: 100%;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.tabs{
    padding: 20px ;
    color: #333;
    cursor: pointer;
}

.tabs_pale{
    padding: 20px ;
    color: #333;
}

.tabs_active{
    color: #fff;
    border-bottom: 1px solid #fff;
}

.card_list{
    display: none;
}
.active_list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 40px 60px;

}


.img_card{
    width: 22%;
    background-color: #202020;

}
.img_card img{
    width: 100%;
    height: 280px;
    
}

.card_title{
    margin: 15px 0;
    
}
.card_info{
    margin: 15px 30px;
    color: #666666;
    font-size: 14px;
   
}

.card_btn{
    width: 94px;
	height: 36px; 
    font-size: 14px;
    margin: 25px 0;
    border: solid 1px #ffffff;
	opacity: 0.2;
}
.card_btn:hover{
    border: solid 1px #ffffff;
	opacity:1;
}
.card_btn a{
    color: #fff;
}


.news_list{
    width: 100%;
}

.news_item:nth-child(2n){
    background-color: #000000;
}
.news_item:nth-child(2n+1){
    background-color: #101010;
}
.news_item{
    width: 100%;
    box-sizing: border-box;
    padding: 54px 74px;
    display: flex;
    align-items: center;
    
}

.date_box{
    padding-right: 44px;
    border-right: 1px solid #333;
}

.day{
    font-size: 50px;
}
.year{
    font-size: 16px;
}

.news_content{
    padding-left: 54px;
}

.news_text{
    font-size: 16px;
    color: #888888;
    margin-top: 26px;
}




/* 详情页 */

.detail_banner{
    width: 100%;
    height: 550px;
    background: url(../assets/msg_bg.png) center no-repeat;
    background-size: 100% 100%;
}

.banner_title{
    width: 577px;
	height: 83px;
	font-family: PingFang-SC-Bold;
	font-size: 36px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 2px;
	color: #ffffff;
}
.banner_date{
    width: 126px;
	height: 21px;
	font-family: DIN-Regular;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 40px;
	letter-spacing: 1px;
    color: #ffffff;
    margin-top: 67px;
}

.detail_main{
    width: 100%;
    position: relative;
    background: url(../assets/back_car.jpg);
     
}
 
.detail_content{
    padding:67px 130px;
    box-sizing: border-box;
    width: 69%;
    background-color: #101010;
    margin:-70px auto 30px;
   
}
.detail_content img{
    width: 100%;
    height: 500px;
    margin: 30px 0;
}

.news_contro{
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #333;
    margin: 10px auto;
    font-size: 14px;
    font-family: PingFang-SC-Regular;
    color: #888888;
    
}
.news_contro :hover{
    color: #fff;
}


/* 我们的服务 */
.service_banner{
    width: 100%;
    height: 550px;
    background: url(../assets/我们的服务_02.jpg) center no-repeat;
    background-size: 100% 100%;
}

.service_banner_title{
    font-family: PingFang-SC-Regular;
	font-size: 48px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 2px;
	color: #ffffff;
}


.service_list{
    padding:0 290px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -80px;
}

.service_item{
    width: 24%;
    height: 137px;
    background-color:  #101010;
    border: solid 3px #202020;
}
.service_item:hover{
    border: solid 3px #fff;

}

.service_item img{
    max-width: 80px;
    max-height: 40px;
}
.item_title{
    font-family: PingFang-SC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 40px;
	letter-spacing: 1px;
    color: #ffffff;
    margin-top: 20px;
}

.active_service{
    border: solid 3px #fff;

}

.question_list{
    width: 100%;
    padding:66px 290px;
    box-sizing: border-box;
    background-color: #101010;

}

.question_item{
    margin: 30px auto;   
}
.question_title{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: PingFang-SC-Regular;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 56px;
	letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
}
.question_title img{ 
    max-width: 32px;
    max-height: 32px;
}

.answer{
    font-family: PingFang-SC-Regular;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 32px;
	letter-spacing: 2px;
    color: #ffffff;
    padding: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    display: none;
}


/* 会员中心 */

.member_banner{
    width: 100%;
    background: url(../assets/会员中心_02.jpg) no-repeat;
    background-size: 100% 100%;
    height: 723px;


}
 


.member_main{
    width: 1330px;
    margin: -170px auto 80px;
    box-sizing: border-box;
    padding: 60px 60px 170px;
    background-color: #101010;
}

.member_title{
    font-size: 48px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
}

.member_title span{
    color: #ffe1b5;
}

.member_info{
    font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 1px;
    color: #ffffff;
    margin: 40px 0;
    text-align: center;
}

.card_box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.member_card{
    width: 460px;
    margin: 10px 45px;
}
.member_card{
    max-width: 460px;
    max-height: 275px;
}

.card_info{
    font-family: PingFang-SC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 28px;
	letter-spacing: 1px;
    color: #ffe1b5;
    padding: 23px 0;
    border-bottom: 1px solid #333;
}


.member_table{
    margin: 50px auto;
    width: 1330px;
    font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 1px;
	color: #ffe1b5;
}
.member_table td{
    text-align: center;
    padding: 37px 50px;
}
.member_table tr:nth-child(2n+1){
    background-color: #202020;
}

.member_table tr:nth-child(2n){
    background-color: #101010;
}


.member_konw{
    background: url(../assets/会员中心_12.jpg) no-repeat;
    background-size: 100% 100%;
    width: 1490px;
    text-align: left;
    margin-left: 288px;
    min-height: 483px;
    margin-top: 117px;
}

.member_konw_title{
    font-size: 48px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 2px;
    color: #ffffff; 
}

.member_konw_title span{
    color: #ffe1b5;
}

.member_acticle{
    font-family: PingFang-SC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 1px;
    color: #ffffff;
    margin-top: 58px;
}

.member_btn{
    width: 300px;
	height: 64px;
	background-image: linear-gradient(90deg, 
		#e8d1b2 0%, 
		#ffe1b5 100%), 
	linear-gradient(
		#ffe1b5, 
		#ffe1b5);
	background-blend-mode: normal, 
		normal;
    border-radius: 32px;
    text-align: center;
    line-height: 64px;
    color: #333;
    cursor: pointer;
}

.tips{
    font-family: PingFang-SC-Regular;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 48px;
	letter-spacing: 3px;
    color: #888888;
    margin-top: 36px;
}